/***************APP Styles****************************/
body{
  background-color: #2c3e50;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
}

.container > .wnt-city-box {
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
  width: 30%;
  min-width: 448px;
  background-color: #ecf0f1;
  margin: 5px 5px;
  min-height: 350px;
  border-radius: 5px;
}

.wnt-city-box > .header {
  flex: 0 1 auto;
  text-align: center;
  width: 100%;
  background-color: #bdc3c7;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.header > .left-side {
  flex: 1 0 auto;
  text-align: center;
}

.header > .right-side {
  flex: 0 1 auto;
  text-align: center;
}

.header .country-flag {
  float: right;
  margin-right: 5px;
  max-width: 70px;
}

.wnt-city-box > .body {
  flex: 2 1 auto;
  padding: 15px;
  text-align: center;
}

.body > .box {
  background-color: #34495e;
  min-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box > .content {
  flex: 1 0 auto;
  font-size: 3.5em;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.content > .left-side,
.content > .right-side {
  flex: 1 0 auto;
}

.content > .left-side {
  padding-right: 5px;
  color: white;
  font-size: calc(1.5em + 1vmin);
}

.content > .right-side {
  padding-left: 5px;
}

.content > .right-side > img {
  max-width: 180px;
  width: 100%;
}

.wnt-city-box > .footer {
  flex: 0 1 auto;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 2.2em;
  display: flex;
  align-items: center;
}

.footer > .left-side,
.footer > .right-side {
  flex: 1 1 auto;
}

.footer > .left-side {
  text-align: right;
  padding-right: 5px;
}

.footer > .right-side {
  text-align: left;
  padding-left: 5px;
}

.footer > .left-side > img {
  width: 50px;
}


/*************************Spinner **********************/
* {margin: 0;padding:0;}
.mask-loading {
  width: 100%;
  background-color: rgba(0, 0, 0, .75);
}
.spinner {
  width: 180px;
  height: 180px;
  position: relative;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}